*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101011;
    color: #D9D9D9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
header{
    position: relative;
    left: 0%;
    margin: auto;
    

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 770px;
    margin: 100px 0px 50px 0px;
}
header .perfil{
    width: 150px;
    border: 2px solid black;
}

header h1{
    display: inline-block;
    margin: 20px;
   
}
header .logo img{
    width: 30px;
    margin-top: 50px;
    margin-right: 10px;
}
header a{
    text-decoration: none;
}
hr{
    margin-bottom: 100px;
    width: 770px;
    
}


main{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 80px;
}

main .title-section{
    margin: 20px 0px 30px 0px;
    text-align: center;
}
    
main section{
    width: 500px;
}

#sobre-min p{
    text-align:justify;
}
main section li{
    margin: 5px 0px 5px 20px;
}

#projects{
    width: 900px;
}
main .projects-content {
    display: flex;

    margin-bottom: 200px;
    padding: 20px;
    gap: 20px;
    position: relative;
    left: 0;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}
.line_projects{
    width: 500px;
    margin: auto;
    margin-bottom: 10px;

}
main .project {
    min-height: 260px;
    height: auto;
    width: 250px;
    background-color: #1B1A1A;
    text-align: center;
    /* border: 1px solid black; */
}
main .project img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    cursor: pointer;
}

main  .project .title{
    background-color: #060c1f;
    padding: 5px;
    color: #E37749;
    font-weight: bold;   
}
main .project .description{
    background-color: #141212;
    padding: 5px;
    font-size: 0.7em;
}
main .project button{
    margin: 10px auto;
    display: block;
    position: static;
    transform: none;
    font-weight: bold;
    
    background-color: aqua;
    border: none;
    background-color: #060c1f;
    padding: 5px;
    color: #D9D9D9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover{
    cursor: pointer;
}


.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000ed;
}

.modal-content{
    background-color: #141212;
    margin: 10% auto;
    padding: 20px;
    border-radius: 2px;
    width: 80%;
    max-width: 500px;
    min-height: 50vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px #00000033;
    animation: fadeIN 0.3s ease;
}
.modal h3{
    margin-top: 20px;
}
.modal h3 span{
    font-weight: 100;
}
.modal p{
    margin: 20px;
}
.modal ul{
    margin-left: 30px;
}
.modal h4{
    margin-top: 10px;
    
    display: flex;
    align-items: center;
    height: 50px;
    gap: 5px;
}
.modal img{
    width: 20px;
    position: relative;
    margin-bottom: 11px;
    top: 6px;
    
}

.modal .git-rep img{
    width: 40px;
}
#links-inline{
    display: flex;
    justify-content: space-between;
}



.close{
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.close:hover{
    color: red;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}


/* RESPONSIVIDADE */

@media (max-width: 992px) {
    body{
        width: 770px;
    }
    main .project {
        width: calc(50% - 20px);
    }
    h1{ 
        text-align: left;
        margin: 0 auto;
        width: 70%;
    }
    header {
        width: 100%;
        margin: 20px auto;
        left: 0;
        display: flex;
        flex-wrap: wrap;
    }
    img{
        margin: auto;
    }
    .logo{
        margin: auto;
       
    }
}

@media (max-width: 600px) {
    
    main{
        width: 100%;
        gap: 20px;
        }
    body{
        width: 100%;
    }
    main .project {
        width: 100%;
    }
    header {
        width: 100%;
        margin-top: 50px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        
    }
     #title{ 
        text-align: center;
        width: 50%;
        font-size: 1.1em;
        margin: auto;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        padding: 5px;
        margin: 10px;
    }
    h2{
        font-size: 1em;
    }
    hr {
        width: 70%;
        margin-bottom: 40px;
    }
 
    #sobre-min p{
        width: 60%;
        margin: auto;
        font-size: 0.8em;
        
    }
    main section{
        width: 400px;
    }   
    main section ul{
        
        
        width: 50%;
        margin: auto;
        font-size: 0.8em;
        
    }
    main section li{
        
        margin: 5px 0px 5px -10px;
    }
    #projects{
        width: 80%;
    }
    #projects hr{
        width: 100%;
    }
    .Project button{
        width: 100%;
        height: 35px;
        font-size: 0.9em;
    }
    .status-img img {
        margin-bottom: 20px;
        
    }
    .logo a img{
        width: 20px;
        margin: 0;
        margin: 5px;
    }
    h1{
        text-align: center;
    }
}